.projects {
  color: #fff;
  line-height: 1.3;
  box-sizing: inherit;
  margin: 0px auto;
  max-width: 1050px;
  height: unset !important;
  max-height: unset !important;
  min-height: 100vh;
  gap: 1rem;
}

.section-heading {
  font-size: 3rem;
}

.numbered-heading {
  box-sizing: inherit;
  font-weight: 400;
  line-height: 1.1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #64ffda;
  font-weight: 400;
}

@media (max-width: 1080px) {
  .numbered-heading::after {
    width: 200px;
  }

  .project_list:nth-of-type(2n+1) .project-content {
    grid-column: 5 / -1;
  }
}

@media (max-width: 990px) {
  .section-heading {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .project_list .project-title {
    margin: 0 0 20px;
  }
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

.styled_projects_grid {
  line-height: 1.3;
  box-sizing: inherit;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project_list {
  color: #564f8f;
  line-height: 1.3;
  list-style: none;
  box-sizing: inherit;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 100px;
  visibility: visible;
  opacity: 1;
  max-width: 90%;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.project_list .project-image a:hover,
.project_list .project-image a:focus {
  background: transparent;
  outline: 0px;
}



.project-content > div {
  line-height: 1.3;
  list-style: none;
  visibility: visible;
  box-sizing: inherit;
}

.project-overline {
  line-height: 1.3;
  list-style: none;
  visibility: visible;
  box-sizing: inherit;
  margin: 10px 0px;
  font-weight: 400;
}

.project-title {
  list-style: none;
  visibility: visible;
  box-sizing: inherit;
  font-weight: 400;
  line-height: 1.1;
  font-size: clamp(24px, 5vw, 28px);
  margin: 0px 0px 20px;
  color: #ccd6f6;
}

.project-title > a {
  list-style: none;
  visibility: visible;
  font-weight: 400;
  line-height: 1.1;
  font-size: clamp(24px, 5vw, 28px);
  box-sizing: inherit;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  position: relative;
  z-index: 1;
}

.project-description {
  line-height: 1.3;
  list-style: none;
  visibility: visible;
  box-sizing: inherit;
  box-shadow: 0 10px 30px -15px #233554;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #112240;
  color: #fff;
}

.project-description > p {
  line-height: 1.3;
  list-style: none;
  visibility: visible;
  box-sizing: inherit;
  margin: 0px;
}

.project_list .project-description a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  z-index: 1;
  color: #564f8f;
}

.project_list .project-description a:hover,
.project_list .project-description a:focus,
.project_list .project-description a:active {
  color: #64ffda;
  outline: 0px;
}

.project_list .project-description a:hover::after,
.project_list .project-description a:focus::after,
.project_list .project-description a:active::after {
  width: 100%;
}

.project_list .project-description a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  background-color: #64ffda;;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
  opacity: 0.5;
}

.project_list .project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.project_list:nth-of-type(2n+1) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.project_list .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
  box-sizing: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.project_list:nth-of-type(2n+1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}

.project_list:nth-of-type(2n+1) .project-tech-list li {
  margin: 0 0 5px 20px;
}

.project_list .project-tech-list li {
  margin: 0px 20px 5px 0px;
  white-space: nowrap;
  display: list-item;
}

.project_list .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.project_list:nth-of-type(2n+1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.project_list  .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
}


.project_list .project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.feather {
  fill: none;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.feather,
.gatsby-image-wrapper {
  width: 100%;
  vertical-align: middle;
}

.feather:not(:root) {
  overflow: hidden;
}

.project_list:nth-of-type(2n+1) .project-image {
  grid-column: 1 / 8;
}

.project_list .project-image {
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.project_list .project-image:hover {
  box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);;
}1

.styled_projects_grid a {
  position: relative;
  z-index: 1;
}

.project_list .project-image a {
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  border-radius: 4px;
  vertical-align: middle;
}

.project_list .project-image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  background-color: #0a192f;
  mix-blend-mode: screen;
}

.project_list .project-image a:hover::before,
.project_list .project-image a:focus::before,
.project_list .project-image a:hover .img,
.project_list .project-image a:focus .img {
  background-color: transparent;
  filter: none;
}

.project_list .project-image .img {
  border-radius: 4px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(90%);
}

.gatsby-image-wrapper-constrained {
  display: inline-block;
}

.gatsby-image-wrapper {
  position: relative;
  overflow: hidden;
}

.project_list .gatsby-image-wrapper > div {
  max-width: 700px;
  display: block;
}

.project_list .gatsby-image-wrapper > div > img {
  max-width: 100%;
  display: block;
  position: static;
  filter: blur(5px);
}

.project-image-side-style {
  opacity: 0;
  transition: opacity 500ms linear 0s;
  object-fit: cover;
  vertical-align: middle;
}

.project-image picture img {
  object-fit: cover;
  opacity: 1 !important;
  vertical-align: middle;
  aspect-ratio: auto 700 / 438;
}

.gatsby-image-wrapper [data-main-image] {
  opacity: 0;
  transform: translateZ(0);
  transition: opacity .25s linear;
  will-change: opacity;
}

.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
